__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.pytest_cache/
.mypy_cache/
.ruff_cache/
.venv/
venv/
.git/

ecapa_tdnn_audio_calib/
rirs_noises/
rknn_calibration_librispeech_100/
data/

output/*
!output/ECAPATDNN_DataAug_protonet_model.pth
!output/enrolled_speakers.pt
